.container-fluid{
  width: 100%;
  margin: 0;
  padding: 0;

  main{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;

    header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 125px;

      img{
        width: 100px;
        padding-left: 30px;
      }

      h1{padding-right: 100px}
    }

    article{
      height: auto;
      background-color: white;
      height: 250px;
      box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);

      img.col-4{
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
      }

      .col-8{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    form.input-group{
      align-self: center;
      margin: 0;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;

      .form-control, select#per-page{
        margin-bottom: 10px;
        width: 200px;
      }
    }
  }
}
